.rounded {
  border-radius: 4px;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 960px;
  padding: 0;
  margin: 0 auto;
}

.columns {
  display: flex;

  .column {
    flex: 1;

    &.is-2-3 {
      flex: initial;
      width: calc(2 / 3 * 100%);
    }

    &.is-3-4 {
      flex: initial;
      width: calc(3 / 4 * 100%);
    }
  }

  .column + .column {
    margin-left: 16px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .columns {
    display: block;

    .column {
      flex: unset;
      width: 100% !important;
    }

    .column + .column {
      margin-left: unset;
    }
  }
}
