@import '../node_modules/minireset.css/minireset.css';
@import '../node_modules/github-markdown-css/github-markdown-light.css';
@import 'github-markdown-light-patch';

:root {
  --color-gray: #adb5bd;
  --color-white: #fff;
  --header-bg: #3b6837;
  --header-fc: #fff;
  --main-bg: #f9f7ec;
}

html,
body {
  background-color: var(--main-bg);
  z-index: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

.overflow-hidden {
  overflow: hidden !important;
}

input[type='search'] {
  outline: none;
  appearance: none;
  line-height: 2;
}

button {
  cursor: pointer;
  background-color: unset;
  appearance: none;
  outline: none;
  border: 0;
}

.icon-3x {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-top {
  background-image: url('./icon/arrow-up.svg');
  background-position: center;
  background-size: contain;
}

.icon-close {
  background-image: url('./icon/x.svg');
  background-position: center;
  background-size: contain;
}

.container {
  width: 100%;
  margin: 0;
}

.columns {
  display: block;

  .column {
    display: block;
    width: 100%;
  }
}

header {
  background-color: var(--header-bg);
  font-size: 1.5rem;

  & a:any-link {
    color: var(--header-fc);
    text-decoration: none;
  }
}

.post {
  min-height: calc(100vh - 200px);
}

.aside {
  position: relative;

  .content-wrapper {
    position: unset;
    top: unset;
    left: unset;
  }
}

footer {
  color: var(--color-gray);
  font-size: 0.85rem;

  & a:any-link {
    text-decoration: none;
    background-color: transparent;
    color: #0969da;
  }
}

.back-top-wrapper {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;

  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  color: var(--color-white);
  cursor: pointer;

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.search-result-dialog {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;

  transition: opacity 0.2s;
  background: rgba(0, 0, 0, 0.16);

  .modal-card {
    flex: initial;
    width: 100%;
  }

  .modal-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-card-body {
    max-height: calc(100vh - 1.5rem);
    overflow-y: auto;

    ul {
      li {
        word-break: break-all;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    overflow-y: scroll;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .search-result-dialog {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;

    .modal-card {
      flex: initial;
      width: 600px;
    }

    .modal-card-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .modal-card-body {
      max-height: 500px;
      overflow-y: auto;

      ul {
        li {
          word-break: break-all;
        }
      }
    }
  }

  .columns {
    display: flex;

    .column {
      flex: 1;

      &.is-3-4 {
        flex: initial;
        width: calc(3 / 4 * 100%);
      }
    }

    .column + .column {
      margin-left: 1rem;
    }
  }

  .aside {
    position: relative;

    .content-wrapper {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}

@media print {
  body {
    background-color: var(--color-white);
  }

  body > header,
  body > footer {
    display: none;
  }

  .post {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
  }

  .aside {
    display: none !important;
  }

  .columns {
    display: block;

    .column {
      flex: unset;

      &.is-3-4 {
        flex: unset;
        width: 100%;
      }
    }

    .column + .column {
      margin-left: unset;
    }
  }
}
