@import '../node_modules/minireset.css/minireset.css';
@import '../node_modules/github-markdown-css/github-markdown-light.css';
@import 'github-markdown-light-patch';
@import 'utils';

:root {
  --color-gray: #adb5bd;
  --color-white: #fff;
  --header-bg: #3b6837;
  --main-bg: #f9f7ec;
  --shadow: 0 2px 3px hsla(51, 50%, 44%, 0.35);
}

html,
body {
  background-color: var(--main-bg);
}

.box {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 4px;
}

input[type="search"] {
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  outline: none;
  appearance: none;
  border: 0;
  line-height: 2;
  width: 100%;
}

.icon-top {
  background-image: url('./icon/arrow-up.svg');
  background-position: center;
  background-size: contain;
}

header {
  background-color: var(--header-bg);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;

  & a:any-link {
    color: var(--color-white);
    text-decoration: none;
  }
}

.post {
  padding: 1rem 1.5rem;
  min-height: calc(100vh - 200px);
}

.aside {
  position: relative;

  .content-wrapper {
    padding-top: 1rem;
    position: sticky;
    top: 0;
    left: 0;
  }
}

footer {
  color: var(--color-gray);
  font-size: 0.85rem;
  padding: 0 1rem 3rem 1rem;

  & a:any-link {
    text-decoration: none;
    background-color: transparent;
    color: #0969da;
  }
}

.back-top-wrapper {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 4px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
  color: var(--color-white);
  cursor: pointer;

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.search-result-dialog {
  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }

  & .modal-content {
    & > ul {
      & li {
        word-break: break-all;
        border: 1px solid var(--color-gray);
        box-shadow: var(--shadow);
        margin-bottom: 0.5rem;
        border-radius: 2px;
        padding: 5px;

        a:any-link {
          text-decoration: none;
        }
      }
    }
  }
}

// 992px is copy from bootstrap breakpoints Large size
@media screen and (max-width: 992px) {
  header {
    margin-bottom: 0;
  }

  .post {
    padding: 1rem 1.5rem;
    border: 0;
    box-shadow: var(--shadow);
    border-radius: 0;
  }

  .aside {
    padding: 1rem 1.5rem;
    position: unset;
    box-shadow: var(--shadow);

    .content-wrapper {
      padding-top: 0;
      position: unset;
      top: unset;
      left: unset;
    }
  }

  footer {
    margin-top: 1rem;
  }
}

@media print {
  body {
    background-color: var(--color-white);
  }

  body > header,
  body > footer {
    display: none;
  }

  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    .post-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;

      max-width: 100%;
      width: 100%;

      .post {
        padding: 0;
        margin: 0;
        border: 0;
        box-shadow: none;
      }

      .aside {
        display: none;
      }
    }
  }
}
